
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    @include flexCenter(row);
}
.left-section, .right-section {
    width: 50%;
    height: 100%;
}
.right-section {
    background: url(../images/v1_178.png) no-repeat;
    background-size: cover;
    background-position: center;

}

.left-section {
    @include flexCenter(column);
    .content {
        color: $font-color;
        font-family: $font;
        width: 50%;
        .main-heading {
        
            h1 {
                font-weight: 400;
                font-size: clamp(1.5rem, 5vw, 2.5rem);
                padding: .3rem 0;
            }
            small {
                color: $primary-color;
                a {
                    color: $primary-color;
                    transition: color 200ms;
                    &:hover {
                        color: $font-color
                    }
                }
            }
        }
        form {
            padding: 1rem 0;
            .input-group {
                border-bottom: 1px solid #C2BFBF;
                padding: .7rem 1rem;
                margin: 1.5rem 0;
                @include flexCenter(row);
                justify-content: flex-start;
                input {
                    border: none;
                    padding: .3rem 1rem;
                    margin: 0 .2rem;
                    outline: none;
                    font-size: .7rem;
                    width: 100%;
                }
                img {
                    width: 1rem;
                    height: auto;
                }
                ::placeholder,::-webkit-input-placeholder {
                        font-size: .7rem;
                        color: #C2BFBF;
                }
            }
            
            .row {
                @include flexCenter(row);
                justify-content: space-between;

                padding: 1rem 0rem;
                font-size: .8rem;
                font-weight: 400;
                color: #000;
                
                .show-password-toggle {
                    height: 20px;
                    width: 40px;
                    background-color: $gray;
                    border-radius: 100px;

                    cursor: pointer;
                    padding: 3px;

                    .circle {
                        height: 100%;
                        width: 50%;
                        background-color: $primary-color;
                        border-radius: 100px;
                        transition: all 500ms;
                    }
                    .active {
                        width: 100%;
                        height: 100%;
                    }
                }
                .btn {
                    position: relative;
                    border: none;
                    font-size: .7rem;
                    padding: .8rem 1.5rem;
                    border-radius: 5px;
                    background-color: $primary-color;
                    color: white;
                    outline: none;

                        &::after {
                        content: '';
                        position: absolute;
                        background-color: rgba(255, 255, 255, 0.124);
                        width: 100%;
                        height: 100%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        clip-path: circle(0% at 50% 50%);
                        transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
                    }
                    &:hover:after {
                        clip-path: circle(100% at 50% 50%);
                    }
                    &:active:after {
                        display:none;
                    }
                }
            }
            .end-content {
                margin: 3rem 0;
                input,p {
                    display: inline-block;
                }
                input {
                    width: 1rem;
                    height: 1rem;
                    position: relative;
                    top: 1px;
                }
                p {
                    color: $gray;
                    padding: 0 .5rem;
                    margin-bottom: 1.5rem;
                }
                a {
                    display: block;
                    color: $primary-color;
                    transition: color 200ms;
                    &:hover {
                        color: $font-color;
                    }
                }
            }
        }
    } 
}