* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

.blocked {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

nav {
  font-family: Arial, Helvetica, sans-serif;
}
nav .top-bar {
  background-color: #0E1726;
  color: white;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
nav .top-bar .brand-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 2rem;
}
nav .top-bar .brand-name h1 {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0 1.5rem;
  line-height: 0;
  font-size: 1.2rem;
}
nav .top-bar .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 2rem;
}
nav .top-bar .profile .lang-change {
  margin: 0 1rem;
}
nav .top-bar .profile .lang-change .goog-te-combo {
  padding: 0.5rem 1rem;
  background-color: #212837;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
}
nav .top-bar .profile .icons {
  margin: 0 1rem;
}
nav .top-bar .profile .icons ul {
  list-style: none;
}
nav .top-bar .profile .icons ul li {
  display: inline-block;
}
nav .top-bar .profile .icons ul li img {
  padding: 0 0.5rem;
}
nav .top-bar .profile .profile-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
nav .top-bar .profile .profile-name .text {
  padding: 0 1rem;
}
nav .top-bar .profile .profile-name .text h2,
nav .top-bar .profile .profile-name .text p {
  margin: 0.4rem 0;
}
nav .top-bar .profile .profile-name .text h2 {
  font-size: 1rem;
}
nav .top-bar .profile .profile-name .text p {
  font-size: .7rem;
  text-align: right;
}
nav .top-bar .profile .profile-name .profile-img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100% auto;
}
nav .lower-bar {
  padding: 0.5rem;
  background-color: white;
}
nav .lower-bar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
nav .lower-bar ul li {
  display: inline-block;
}
nav .lower-bar ul li .profile-name, nav .lower-bar ul li .lang-change {
  display: none;
}
nav .lower-bar ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  padding: 1rem 0;
  margin: 0 0.8rem;
  font-size: clamp(0.6rem, 2vw, 0.8rem);
}
nav .lower-bar ul li a P {
  color: #717171;
  margin: 0 0.8rem;
  transition: all 200ms;
}
nav .lower-bar ul li a P:hover {
  color: black;
}
nav .lower-bar ul li a P.active {
  font-weight: bold;
}
nav .lower-bar ul li .btn {
  position: relative;
  border: none;
  padding: 1rem 1.3rem;
  border-radius: 8px;
  background-color: #d30035;
  color: white;
  outline: none;
}
nav .lower-bar ul li .btn img {
  position: absolute;
  top: -10px;
  right: -15px;
}
nav .lower-bar ul li .btn::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.124);
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: circle(0% at 50% 50%);
  transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
nav .lower-bar ul li .btn:hover:after {
  clip-path: circle(100% at 50% 50%);
}
nav .lower-bar ul li .btn:active:after {
  display: none;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
section .container {
  margin: 15rem 0;
  width: 90%;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid white;
  border-radius: 20px;
  background-color: white;
}
section .container .search {
  text-align: right;
}
section .container .search input {
  padding: .7rem;
  margin: 1.7rem 2rem;
  text-align: left;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #C2BFBF;
  outline: none;
}
section .container .search ::placeholder {
  font-size: 1rem;
}
section .container .overflow {
  margin: 1rem 5rem;
}
section .container .overflow table {
  width: 100%;
  border-collapse: collapse;
}
section .container .overflow table thead {
  background-color: #0E1726;
  color: white;
  padding: 1rem;
}
section .container .overflow table thead th {
  padding: 1rem;
  font-size: clamp(0.7rem, 2vw, 1rem);
  font-weight: 400;
}
section .container .overflow table tbody {
  transition: all 200ms;
}
section .container .overflow table tbody tr {
  text-align: center;
}
section .container .overflow table tbody tr td {
  color: #717171;
}
section .container .overflow table tbody tr .player {
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
section .container .overflow table tbody tr .player .player-img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background: url(../img/profile.jpeg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;
}
section .container .overflow table tbody tr .player p {
  color: black;
  padding: 10px;
}
section .container .overflow table tbody tr .stars .checked {
  color: orange;
}
section .container .page-change {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  margin: 1rem 5rem 2rem 0;
}
section .container .page-change div {
  width: 40px;
  height: 40px;
  margin: 0 .2rem;
  border-radius: 100%;
  border: 1px solid #C2BFBF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #717171;
  cursor: pointer;
}
section .container .page-change div:hover {
  border-color: #0E1726;
}
section .container .page-change div.active {
  border: none;
  background-color: #0E1726;
  color: white;
}

.subscription .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.subscription .container div {
  padding: 1rem;
}
.subscription .container div.box-1 {
  width: 30%;
  margin: 3rem 0 3rem 2rem;
}
.subscription .container div.box-1 h1 {
  font-weight: 400;
  font-size: clamp(1.3rem, 2vw, 3.4rem);
  margin: 2rem 0 4rem 0;
}
.subscription .container div.box-1 div {
  width: 100%;
  padding: 0;
}
.subscription .container div.box-1 div p {
  color: #717171;
  margin: 1.5rem 0;
}
.subscription .container div.box-1 .payment fieldset {
  width: 100%;
  height: auto;
  margin: 4rem 0 0 0;
  padding: 0.7rem 1rem;
  border: 2px solid #0032de;
  border-radius: 10px;
}
.subscription .container div.box-1 .payment fieldset legend {
  color: #0032de;
  padding: 0 5px;
}
.subscription .container div.box-2, .subscription .container div.box-3 {
  width: 25%;
  height: 90% !important;
  margin: 0 2rem;
  border-radius: 20px;
  border: 1px solid #C2BFBF;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.subscription .container div.box-2 h1, .subscription .container div.box-3 h1 {
  font-weight: 400;
  margin: 1rem 0 1.5rem 0;
  font-size: 1.5rem;
}
.subscription .container div.box-2 hr, .subscription .container div.box-3 hr {
  width: 30%;
  border: 2px solid #aaa;
  border-radius: 100px;
}
.subscription .container div.box-2 p, .subscription .container div.box-3 p {
  color: #C2BFBF;
  font-size: 0.7rem;
  padding: 2rem 0;
  width: 50%;
}
.subscription .container div.box-2 div, .subscription .container div.box-3 div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.subscription .container div.box-2 div i, .subscription .container div.box-3 div i {
  position: absolute;
  top: 40%;
  left: 0;
}
.subscription .container div.box-2 div .amount, .subscription .container div.box-3 div .amount {
  color: black;
  padding: 0;
  font-size: 3rem;
  width: 100%;
}
.subscription .container div.box-2 div .period, .subscription .container div.box-3 div .period {
  padding: 0;
  margin: 0;
  color: black;
  position: absolute;
  bottom: 30%;
  right: -30%;
}
.subscription .container div.box-2 .btn, .subscription .container div.box-3 .btn {
  position: relative;
  border: 1px solid #C2BFBF;
  border-radius: 5px;
  display: inline-block;
  color: #717171;
  width: 60%;
  padding: 0.7rem 0;
  margin: 2rem 0;
  outline: none;
  text-decoration: none;
}
.subscription .container div.box-2 .btn img, .subscription .container div.box-3 .btn img {
  position: absolute;
  top: -10px;
  right: -15px;
}
.subscription .container div.box-2 .btn::after, .subscription .container div.box-3 .btn::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.124);
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: circle(0% at 50% 50%);
  transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.subscription .container div.box-2 .btn:hover:after, .subscription .container div.box-3 .btn:hover:after {
  clip-path: circle(100% at 50% 50%);
}
.subscription .container div.box-2 .btn:active:after, .subscription .container div.box-3 .btn:active:after {
  display: none;
}
.subscription .container div.box-3 {
  position: relative;
}
.subscription .container div.box-3 img {
  width: 6rem;
  position: absolute;
  top: -40px;
  right: -40px;
}
.subscription .container div.box-3 .btn {
  background-color: #d30035;
  color: white;
  border: none;
}

.chat .container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.chat .container .side-panel {
  width: 30%;
  border-right: 1px solid #C2BFBF;
}
.chat .container .side-panel .search {
  text-align: left;
  border-bottom: 1px solid #C2BFBF;
}
.chat .container .side-panel .search input {
  margin: 2rem;
  width: 80%;
}
.chat .container .side-panel .users {
  height: 40rem;
  width: 100%;
  overflow-y: auto;
}
.chat .container .side-panel .users .user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #C2BFBF;
  padding: 1rem;
}
.chat .container .side-panel .users .user .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.chat .container .side-panel .users .user .content .profile-img {
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background: url("../img/profile.jpeg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;
}
.chat .container .side-panel .users .user .content .text {
  padding: 0 1rem;
}
.chat .container .side-panel .users .user .content .text p {
  margin: 10px 0;
}
.chat .container .side-panel .users .user .content .text p.name {
  font-size: 1.3rem;
}
.chat .container .side-panel .users .user .content .text p.last-message {
  font-size: .8rem;
  color: #717171;
  width: 10rem;
  height: 18px !important;
  height: fit-content;
  padding: 1px 0;
  overflow: hidden;
}
.chat .container .side-panel .users .user .time {
  color: #717171;
  font-size: .7rem;
}
.chat .container .right-side-panel {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.chat .container .right-side-panel .user-info {
  width: 100%;
  border-bottom: 1px solid #C2BFBF;
  padding: 1rem;
}
.chat .container .right-side-panel .user-info .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.chat .container .right-side-panel .user-info .info .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.chat .container .right-side-panel .user-info .info .content i {
  display: none;
}
.chat .container .right-side-panel .user-info .info .content .profile-img {
  width: 50px;
  height: 50px;
  background: url(../img/profile.jpeg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%;
  border-radius: 100px;
}
.chat .container .right-side-panel .user-info .info .content p {
  font-size: 1.5rem;
  padding-left: 15px;
  font-weight: bold;
}
.chat .container .right-side-panel .user-info .info .options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.chat .container .right-side-panel .user-info .info .options .dots {
  margin: 0 1rem;
}
.chat .container .right-side-panel .user-info .info .options .dots span {
  display: block;
  width: 5px;
  height: 5px;
  background-color: #B1B1B1;
  border-radius: 100px;
  margin: 3px 0;
}
.chat .container .right-side-panel .message-area {
  background-color: #0E1726;
  height: 36rem;
  width: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
.chat .container .right-side-panel .message-area .message-time {
  margin-top: 50px;
  background-color: white;
  padding: .7rem;
  border-radius: 10px;
  color: #717171;
  font-size: .7rem;
}
.chat .container .right-side-panel .message-send {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin: 1rem;
  padding: 0rem 2rem;
  border: 2px dashed #d30035;
  border-radius: 10px;
  width: 95%;
}
.chat .container .right-side-panel .message-send form {
  width: 100%;
}
.chat .container .right-side-panel .message-send form input {
  width: 80%;
  border: 0;
  padding: 1rem;
  outline: none;
  font-size: 1.1rem;
}
.chat .container .right-side-panel .message-send form .btn {
  position: relative;
  border: none;
  padding: .7rem 0;
  width: 10%;
  margin-left: 4rem;
  border-radius: 8px;
  background-color: #d30035;
  color: white;
  outline: none;
}
.chat .container .right-side-panel .message-send form .btn img {
  position: absolute;
  top: -10px;
  right: -15px;
}
.chat .container .right-side-panel .message-send form .btn::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.124);
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: circle(0% at 50% 50%);
  transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.chat .container .right-side-panel .message-send form .btn:hover:after {
  clip-path: circle(100% at 50% 50%);
}
.chat .container .right-side-panel .message-send form .btn:active:after {
  display: none;
}

@media screen and (max-width: 990px) {
  .top-bar .lang-change,
  .top-bar .icons,
  .top-bar .profile-name {
    display: none;
  }

  body {
    overflow-x: hidden !important;
  }

  .lower-bar {
    height: 100vh;
    width: 50%;
    position: absolute;
    left: -120%;
    transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
    box-shadow: 1px 0 30px 5px rgba(0, 0, 0, 0.493);
  }
  .lower-bar ul {
    height: 100%;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
  }
  .lower-bar ul .profile-name,
  .lower-bar ul .lang-change,
  .lower-bar ul .icons {
    display: block !important;
  }
  .lower-bar ul .icons {
    background-color: #B1B1B1;
    border-radius: 10px;
    margin: 0 0 0 2.5rem;
    padding: 1rem 1rem;
  }
  .lower-bar ul .icons ul {
    display: inline;
  }
  .lower-bar ul .icons ul a {
    padding: 0;
  }
  .lower-bar ul .profile-name {
    margin: 3rem 0 1rem 2.5rem;
  }

  .lower-bar-active {
    transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
    left: 0;
  }

  .menu {
    margin: 0 0 0 20px;
  }
  .menu span {
    background-color: white;
    display: block;
    width: 35px;
    height: 4px;
    margin: 6px 0;
    border-radius: 15%;
    transition: all 1s;
    cursor: pointer;
  }

  .active .line-1,
  .active .line-3 {
    position: relative;
  }
  .active .line-1 {
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    transform: rotate(40deg);
    top: -1px;
  }
  .active .line-2 {
    width: 0%;
    opacity: 0;
  }
  .active .line-3 {
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    transform: rotate(-40deg);
    bottom: -1px;
  }

  section .container .overflow {
    margin: 2rem 1rem;
    overflow-x: auto;
  }
  section .container .page-change {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  section .container tbody .player .player-img {
    display: none;
  }
  section .container .page-change {
    padding: 0;
    margin: 1rem auto;
  }

  .subscription .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .subscription .container div {
    width: 90% !important;
    margin: 2rem 0 !important;
  }
  .subscription .container div.box-1 {
    margin: 0;
  }
  .subscription .container div.box-1 h1 {
    margin: 2rem 0 0 0;
  }
  .subscription .container div.box-2 div i {
    left: 40%;
  }
  .subscription .container div.box-2 div .period {
    right: 0% !important;
  }
  .subscription .container div.box-2 div i, .subscription .container div.box-3 div i {
    position: absolute;
    top: 40%;
    left: 20%;
  }
  .subscription .container div.box-2 div .amount, .subscription .container div.box-3 div .amount {
    color: black;
    padding: 0;
    font-size: 3rem;
    width: 100%;
  }
  .subscription .container div.box-2 div .period, .subscription .container div.box-3 div .period {
    padding: 0;
    margin: 0;
    color: black;
    position: absolute;
    bottom: 30%;
    right: -5%;
  }
  .subscription .container div .btn {
    width: 80% !important;
  }

  .chat .container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
  }
  .chat .container .side-panel {
    width: 100%;
  }
  .chat .container .right-side-panel {
    width: 100%;
  }
  .chat .container .right-side-panel .user-info .info .content i {
    display: block;
    font-size: 1.3rem;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 100px;
  }
  .chat .container .right-side-panel .message-send {
    padding-right: 0;
  }
  .chat .container .right-side-panel .message-send form input {
    width: 65%;
  }
  .chat .container .right-side-panel .message-send form .btn {
    padding: .7rem 0;
    margin: 0;
    width: 30%;
  }
  .chat .container .blocked {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  nav .top-bar .brand-name {
    margin: 0 0 0 10px;
  }
  nav .top-bar .brand-name h1 {
    padding: 0 0 0 10px;
    font-size: 0.7rem;
    font-weight: bold;
  }
  nav .top-bar .profile {
    margin: 0;
  }
  nav .top-bar .profile .lang-change {
    margin: 0 1rem;
  }
  nav .top-bar .profile .profile-name .text {
    display: none;
  }
  nav .lower-bar {
    background-color: white;
    width: 100%;
  }
  nav .lower-bar ul {
    list-style: none;
  }
  nav .lower-bar ul li a {
    font-size: clamp(1rem, 1vw, 1rem);
  }
  nav .lower-bar ul li .btn {
    margin-top: 1rem;
  }
  nav .lower-bar ul li .btn img {
    position: absolute;
    top: -10px;
    right: -15px;
  }
}
